<div class="add" style="background-image: url('<%= cl_image_path 'https://res.cloudinary.com/dfvfkojyz/image/upload/v1558695823/oslg5oaxy5jrfoul6sku.jpg', height: 300, width: 400, crop: :fill %>')">
<div class="navbar-lewagon">
  <h1>Add a new cocktail</h1>
  <%= link_to 'go back', cocktails_path, { class: "btn btn-outline-primary" } %>
</div>

<div class="container vh-100 m-5">
  <div class="row">
    <div class="col-5 bg-light p-3">
    <%= simple_form_for (@cocktail) do |f| %>
      <%= f.input :name %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit "add a cocktail", class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
</div>
</div>