<div class="bg fixed-top" style="background-image: url('<%= cl_image_path @cocktail.photo, height: 300, width: 400, crop: :fill %>')">
</div>
<div class="show">
  <div class="navbar-show sticky-top">
    <div>
      <h1><%= @cocktail.name %></h1>
    </div>
    <%= link_to 'Go back', cocktails_path, { class: "btn btn-outline-secondary" } %>
  </div>
  <div class="list">
    <ul class="w-25">
      <% @doses.each do |dose| %>
        <li>
          <span>
            <%= dose.amount %> <%= dose.ingredient.name %> ( <%= dose.description %> )
          </span>
          <%= link_to(dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }, class: "text-danger") do %>
            <span>
              <i class="fas fa-trash"></i>
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="ingredient">
    <%= render "doses/form" %>
  </div>
</div>
